 
<section id="form">
    <link rel="stylesheet" href="/css/form.css">
   <h2>signup</h2>
   <form method="post" class="form-card">
       <label for="username"> username</label>
       <input type="text" placeholder="username" name="usernsme">
       <label for="email">email</label>
       <input type="email" name="email">
       <label for="password">password</label>
       <input type="password"placeholder="password" name="password">
       <button type="submith">Login</button>  
   </form>
</section>
<button class="btn_good">Good</button>
<button class="btn_bad">Bad</button>
<button >normal</button>
    
</body>
</html>
